@media only screen and (min-width: 1482px) and (max-width: 1800px) {
    .success-tab h3 {
        margin: 1% 39%;
    }
    .line-1 {
        margin: 2% 31% !important;
    }
    .line-2 {
        margin: 19% 32% 0 !important;
    }
    .reward-tab p {
        margin: 1% 37% 1% 38%;
    }
    .market-tab .market-brief {
        width: 97%;
        margin: 2% 12%;
    }
    .market-det {
        width: 118%;
        margin: 10% 0% 10% 50%;
    }
    .commit-tab h4 {
        margin-right: 30%;
    }
    .commit-tab h2 {
        margin-left: -35%;
    }
    .commit-tab p {
        margin: 2% 25% 2% 25%;
    }
    .faq-basic {
        width: 100%;
    }
    .main-tab p {
        margin: 5% 6% 2% 3%;
    }
    .startedButton {
        margin: 3%;
    }
}